<!-- registration_form.html -->
{% extends 'base.html' %} {% block title %} Register - {% endblock title %} 
{% block content %}
<br />
<br />
<br />
<div class="card mx-auto mt-5" style="max-width: 500px">
  <div class="card-header">
    <h1 class="text-center">Register</h1>
  </div>

  <div class="card-body">
    <form method="post" id="registration-form">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col">
                <label for="id_username" class="form-label">{{ form.username.label }}</label>
                {{ form.username }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="id_email" class="form-label">{{ form.email.label }}</label>
                {{ form.email }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="id_password" class="form-label">{{ form.password.label }}</label>
                {{ form.password }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="id_confirm_password" class="form-label">{{ form.confirm_password.label }}</label>
                {{ form.confirm_password }}
                <div id="password-error" class="text-danger" style="display: none;">Passwords do not match.</div>
                {% if user_exists_error %}
        <div id="user-exists-error" class="text-danger">{{ user_exists_error }}</div>
    {% endif %}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col text-center">
                <button type="submit" class="btn btn-primary" id="register-button">Register</button>
            </div>
        </div>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const form = document.getElementById('registration-form');
        const passwordInput = document.getElementById('id_password');
        const confirmPasswordInput = document.getElementById('id_confirm_password');
        const passwordError = document.getElementById('password-error');
        const userExistsError = document.getElementById('user-exists-error');

        form.addEventListener('submit', function (event) {
            if (passwordInput.value !== confirmPasswordInput.value) {
                event.preventDefault();
                passwordError.style.display = 'block';
            }
        });

        confirmPasswordInput.addEventListener('input', function () {
            if (passwordInput.value === confirmPasswordInput.value) {
                passwordError.style.display = 'none';
            } else {
                passwordError.style.display = 'block';
            }
        });


    });
</script>

{% endblock content %}
